
#Header {
  @apply flex items-center justify-between p-4 ;
  
  .title {
    @apply flex gap-4 font-bold items-center;

    .welcome{
      @apply flex flex-col;

      .text{
        color: var( --secondary-text-color)
      }

      .name{
        color: var(--primary-color)

      }
    }
  }
  
  .menu-container {
    @apply flex items-center space-x-4;
    
    .dropdown {
      @apply flex items-center;
    }

    .selected-lang{
      color: var(--primary-text-color);
      @apply font-bold
    }

  }
}
