
#Header {
  @apply flex items-center justify-between p-4 px-8 mb-8;


  .logo{
    @apply rounded-full max-h-10 max-w-10;
  }
  
  .title {
    @apply flex gap-4 font-bold items-center cursor-pointer;

    .welcome{
      @apply flex flex-col;

      .text{
        color: var( --secondary-color)
      }

      .name{
        color: var(--primary-color)

      }
    }
  }
  
  .menu-container {
    @apply flex items-center space-x-4;
    
    .dropdown {
      @apply flex items-center;
    }

    .selected-lang{
      color: var(--primary-text-color);
      @apply font-bold
    }

  }
}
