.product-modal {
  @apply p-6 w-full space-y-6 overflow-auto;

  &__image-wrapper {
    @apply relative;
  }

  &__image {
    @apply w-full h-64 object-contain rounded-xl border;
  }

  &__sale-badge {
    @apply absolute top-3 left-3 flex items-center gap-1 bg-red-500 text-white text-xs font-bold px-3 py-1 rounded-full shadow-md;
  }

  &__info {
    @apply space-y-3 border-t border-b pt-8 pb-8;
  }

  &__title {
    color: var(--primary-text-color);
    @apply text-3xl font-semibold
  }

  &__description {
    color: var(--secondary-color);
    @apply  text-sm leading-relaxed;
  }

  &__no-description {
    color: var(--secondary-color);
    @apply  text-sm leading-relaxed text-center;
  }

  &__price {
        color: var(--primary-text-color);

    @apply flex items-center gap-2 text-lg font-medium;
  }

  &__category,
  &__subcategory {
        color: var(--secondary-color);

    @apply flex items-center gap-2 text-sm;

    span {
    color: var(--primary-text-color);
      @apply font-medium 
    }

    svg {
      @apply w-4 h-4;
    }
  }
}
