.sub-categories{


    .sub-categorie{
        color: var(--primary-text-color);
        text-decoration: underline;        
        @apply  cursor-pointer p-1 flex justify-between items-center  transition-colors
    }

    .sub-categorie-selected{
        color: var(--primary-color);

    }


    .subCategories-title{
        color: var(--primary-text-color);

    }
}


.is-admin-user{


    .edit-sub-category{
        position:absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
    }
    .sub-categories {
        padding: 10px;
        position: relative;
        border: 1px dashed transparent;
        border-radius: 8px;

        .add-sub-category-btn {
            opacity: 0;
            visibility: none;
        }

        &:hover {
            .add-sub-category-btn {
            opacity: 1;
            visibility: visible;
            }
            background: var(--edit-color);
            border: 1px dashed black;
        }
    }

    
}

// TODO NEED TO BE WRAPPED
    .delete-product{
        @apply  flex items-center justify-center h-8 w-8 bg-red-500 text-white rounded-lg hover:bg-red-700 transition-colors cursor-pointer
      }
    
      .edit-product{
        @apply  flex items-center justify-center h-8 w-8 bg-orange-500 text-white rounded-lg hover:bg-orange-700 transition-colors cursor-pointer
    
      }