
.empty-product-view-container {
    @apply flex flex-col items-center justify-center h-96;


    .exclamation-icon{
      color: var(--primary-text-color);
    }


    .empty-product-view-heading {
      color: var(--primary-text-color);
        @apply text-xl font-semibold;
      }
      
      .empty-product-view-button {
        @apply mt-4 flex items-center px-4 py-2;
      }
      
      .empty-product-view-message {
        color: var(--primary-color);
        @apply mt-4;
      }
      
}
  
