@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/themes/styles";




.dark-mode{
  --background-color: #2E2E2E;
  --primary-text-color:#fff;
  --secondary-color:#9d9d9d;
  --primary-color:#c53334;
  --primary-color-dark:#882525;
  --primary-color-light:#ee4141;
}

.radix-themes {
  background-color: var(--background-color);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #636363; 
}