@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/themes/styles";



#landing-page{
  --background-color:#021C2E;
  --primary-color-1:#FE05F7;
  --primary-color-2:#F2562F;


  background-color:var(--background-color)
}

body{
  --secondary-color:#9d9d9d;
  --primary-text-color:#515151;
  --edit-color:#e9f3dc;
  --background-color: #fff;

}


.dark-mode{
  --background-color: #2E2E2E;
  --primary-text-color:#fff;
  --edit-color:#5a7636b8;
}

.radix-themes {
  background-color: var(--background-color);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #636363; 
}