

.breadcrumb-nav {
    @apply flex items-center text-sm;
  }
  
  .breadcrumb-list {
    @apply flex space-x-1 p-0 m-0;
    list-style: none;
  }
  
  .breadcrumb-item {
    @apply flex items-center;
  }
  
  .breadcrumb-link {
    color: var(--primary-text-color);
    @apply  transition-colors px-2 rounded-md;

    &:hover{
      background-color: var(--secondary-color);
      color: var(--background-color);
    }
  
    &.active {
      color: var(--primary-color);
      @apply  pointer-events-none;
    }
  }
  
  .breadcrumb-separator {
    color: var(--primary-text-color);
  }
