#MainCategories {

    @apply py-4;
    .categories-wrapper {
      width: calc(100% - 120px);
      margin: auto;
      @apply flex gap-4 relative items-center;
  
      > div {
        @apply flex gap-4 relative;
  
        &::after {
          @apply absolute bottom-0 h-px w-full z-[-1];
          content: "";
          background-color: var(--secondary-color-light);
        }
  

      }
    }
  
    .category {
      @apply relative py-2 px-6 cursor-pointer flex gap-2 items-center border-b-2 border-transparent;
      color: var(--primary-text-color);
  
      &:hover {
        color: var(--primary-color);
        border-color: var(--primary-color);
  
        .delete {
          @apply block absolute;
          right: 4px;
        }
      }
  
      .delete {
        @apply hidden;
      }
    }
  
    .selected {
        border-color: var(--primary-color);
        color: var(--primary-color);
    }
  }
  
  .arrow {
    @apply border-gray-300 border rounded p-2 cursor-pointer;

    .arrow-icon {
      @apply h-3.5 w-3.5 fill-transparent;
      stroke: var(--primary-color-light);
    }

    .arrow-right {
      @apply rotate-180;
    }

   }
  .is-admin-user {
    .categories-wrapper {
      @apply relative border border-dashed border-transparent rounded-lg h-16;

 
  
      .add-category-btn {
        @apply hidden;
      }
  
      &:hover {
        .add-category-btn {
          @apply block absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
        }

        background-color: var(--edit-color);
        @apply border-black;
      }
    }
  }
  

  .embla {
    max-width: 100%;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 5px;
    --slide-size: 100%;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    // margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }

  .embla__slide {
    max-width: max-content;
  
  }
  