#MainCategories{


    .categories-wrapper{
        @apply flex gap-2
    }

    .category{
        position: relative;
        background-color: var(--secondary-text-color);
        @apply text-white rounded-md py-2 px-6 cursor-pointer flex gap-2 items-center;


        &:hover{
            background-color: var(--primary-color);

            .delete{
                display: block;
                position: absolute;
                right: 4px;
            }
        }


        .delete{
            display: none;
        }

    }

    .selected{
        background-color: var(--primary-color);

    }

}


.is-admin-user{

    .categories-wrapper{
        padding: 10px;
        position: relative;
        .add-category-btn{
            display: none;
        }

        &:hover{
            .add-category-btn{
                top: -14px;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                position: absolute;
            }
            box-shadow: -1px 0px 7px 13px black;
        }
    }

}