.file-upload {
  .drop-zone {
    border-color: var(--border-color);
    @apply border-2 border-dashed rounded-lg  p-5 text-center cursor-pointer mb-5;
    
    p {
      color: var(--text-color);
      @apply mb-1 ;
    }

    .upload-icon{
      @apply m-auto h-10 w-10 mb-4
    }
  }

  .file-list {
    @apply space-y-3 mt-4;

    .file-item {
      background-color: var(--secondary-light-color);
      @apply flex items-center justify-between p-3 border rounded-lg  relative;

      .file-info {
        @apply flex items-center;

        .file-image-icon {
          @apply w-10 h-10 object-cover mr-2;
        }

        .file-icon {
          @apply text-2xl mr-2;
        }

        .file-name {
          @apply max-w-xs truncate;
        }
      }

      .file-size {
        color: var(--text-color);
        @apply text-xs text-gray-500;
      }


      .file-progress {
        @apply w-full ml-3;
      }
    }
  }
}
